.home {
    background-image: url('./HomePictures/CoffeeBG.jpg');
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.home-header {
    background-color: rgba(18, 197, 252, 80%);
    padding: 1%;
    text-align: left;
    display: flex;
    align-items: left;
}

.brand-name {
    font-size: 50px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, cursive;
    font-style: italic;
}

.logo {
    height: auto;
    width: auto;
    max-height: 5%;
    max-width: 5%;
    padding-left: 1%;
    padding-right: 1%;
}

.blurb {
    color: black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, cursive;
    font-style: italic;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.row {
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    background-color: rgb(245, 245, 245, 85%);
    border-style:groove;
    border-color: black;
    border-radius: 3%;
}

.menu {
    padding-top: 2%;
    font-size: 60px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.column1 {
    flex: 50%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 3%;
    padding-bottom: 2%;
}

.column2 {
    flex: 50%;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 5%;
    padding-bottom: 2%;
}

.desc-bubble {
    display: inline-block;
    background-color: beige;
    border-color: brown;
    border-style: inset;
    border-radius: 10%;
    padding: 5%;
}

.description {
    font-size: 18px;
    border-style: solid;
    border-color: brown;
    border-radius: 25px;
    padding: 3%;
    background-color: white;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header1 {
    color: rgb(181, 75, 75);
    font-family: 'Dancing Script', cursive;
}

.header2 {
    color: rgb(156, 35, 35);
    font-family: 'Dancing Script', cursive;
}

.fancy-desc {
    font-family: 'Dancing Script', cursive;
}

.basic-button {
    background-color: rgb(181, 75, 75);
    border-color: black;
}

.basic-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(199, 87, 87, 0.8);
    background-color: rgb(192, 88, 88);
    border-color: black;
}

.detailed-button {
    background-color: rgb(156, 35, 35);
    border-color: black;
}

.detailed-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(136, 28, 28, 0.8);
    background-color: rgb(134, 22, 22);
    border-color: black;
}

.home-bottom {
    padding: 1%;
}