.home-button-results {
    background-color: #c67c5a;
    color: white;
    padding: 1%;
    text-align: left;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Georgia', serif;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.home-button-results:hover {
    background-color: #8b5a3c;
    transform: translateY(-2px);
}

.results-header {
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    color: #4b3832;
    border-color: #c39e81;
    border-style: solid;
    border-width: 2px;
    padding: 0.5%;
    background-color: #fff7eb;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Georgia', serif;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.CGPTresponse {
    margin: 2%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
    padding-top: 1%;
    background-color: #e7d3b8;
    border-style: inset;
    border-color: #c39e81;
    border-radius: 8px;
    border-width: 6px;
    font-size: 1rem;
    font-family: 'Georgia', serif;
    color: #4b3832;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

#response1 {
    margin-left: 20%;
    margin-right: 20%;
}

.communication {
    margin-left: 5%;
    padding-top: 1%;
    padding-right: 40%;
    display: flex;
    align-items: flex-start;
}

.your-brew {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, cursive;
    font-style: italic;
    font-size: 40px;
    padding-bottom: 1%;
}

.send-message {
    margin-left: 1%;
    padding: 10px 20px;
    background-color: #c67c5a;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Georgia', serif;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.send-message:hover {
    background-color: #8b5a3c;
    transform: translateY(-2px);
}


.error-handling {
    margin: 2%;
    margin-top: 1%;
    padding: 1%;
    padding-bottom: .5%;
    background-color: #f5eadc;
    border-style: inset;
    border-color: #c39e81;
    border-radius: 5px;
    border-width: 3px;
    font-size: 14px;
    font-family: 'Georgia', serif;
    color: #4b3832;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.suggestions {
    text-align: left;
    white-space: nowrap;
    margin: 2%;
    margin-top: 1%;
    padding: 1%;
    padding-bottom: .5%;
    background-color: #f5eadc;
    border-style: inset;
    border-color: #c39e81;
    border-radius: 5px;
    border-width: 3px;
    font-size: 14px;
    font-family: 'Georgia', serif;
    color: #4b3832;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.results-row {
    display:flex;
}